.container {
	width: 1500px;
	height: 400px;
	background-image: linear-gradient(to right, #E2BCBB, #E4514A);
}

.col-1-2 {
	width: 50%;
}

.logo {
	 float: left;
}
 nav {
	 float: right;
}
 nav ul {
	 margin: 10;
	 padding: 0;
	 list-style: none;
}

 nav li {
	 display: inline-block;
}

 body {
	 background: #000000;
	 color: #fff;
}
 a {
	 color: #111101
}
